.formContainer {
    background-color: #A3C6C4;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            color: #6C7A89;
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: #6C7A89;
            font-size: 12px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #6C7A89;

                &::placeholder {
                    color: #A3C6C4;
                }
            }

            button {
               background-color: #A3C6C4;
               color: white;
               padding: 10px;
               font-weight: bold;
               border: none; 
               cursor: pointer;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #A3C6C4;
                font-size: 12px;
                cursor: pointer;

                img {
                    width: 32px;
                }
            }
        }

        p {
            color: #354649;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}